
body {
  background: #666;
}

.elements {
  min-width: 100px;
  min-height: 100px;
  background: #FFF;
  position: fixed;
  left: 1em;
  top: 1em;

  &:before {
    width: 10px;
    height: 10px;
    content: "Elements list";
    color: lightblue;
  }
}

.control {
  min-width: 100px;
  padding: 4px;
  margin: auto;
  text-align: center;
  button {
    margin: 0 8px;
  }
}

#gameBox {
  min-width: 300px;
  width: 100%;
  height: 360px;
  margin: auto;
  background: #666;
  overflow: hidden;
  position: relative;
}

.gift {
  width: 20px;
  height: 20px;
  background: #E6E;
  border-radius: 15px;
  border: 1px solid #D3D;
  // display: inline-block;
  
  position: absolute;
}
#gameBox .gift {
  // top: -20px;
}

#gameBox .catcher {
  width: 16%;
  height: 20px;
  display: inline-block;
  background: lightblue;

  // position: absolute;
  // bottom: 0;
  // margin: auto;
  // left: 0;
  // right: 0;
}

#orientation {
  min-width: 300px;
  width: 100%;
  height: 40px;
  background: #DDD;
  color: #333;
  margin: auto;
}

.hide {
  display: none;
}

button {
  border: 1px solid #DDD;
  border-radius: 15px;
  padding: 2px 12px;

  &:disabled {
    color: #CCC;
    background: #666;
  }
}



