body {
  background: #333;
}

.elements {
  min-width: 100px;
  min-height: 100px;
  background: #FFF;
  position: fixed;
  left: 1em;
  top: 1em;
}

.elements:before {
  width: 10px;
  height: 10px;
  content: "Elements list";
  color: lightblue;
}

.control {
  min-width: 100px;
  min-height: 100px;
  position: fixed;
  left: 1em;
  top: 10em;
}

#gameBox {
  min-width: 300px;
  width: 100%;
  height: 500px;
  margin: auto;
  background: #666;
  overflow: hidden;
  position: relative;
}

.gift {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 15px;
  position: absolute;
}

#gameBox .catcher {
  width: 60px;
  height: 20px;
  background: blue;
}

#orientation {
  min-width: 300px;
  width: 100%;
  height: 40px;
  background: #DDD;
  color: #333;
  margin: auto;
}

.hide {
  display: none;
}
